---
export const prerender = false;

 

import  {  db,jokes ,eq,lt} from "../../../data/hasura";
import FacebookShare from "../../components/FacebookShare.astro";
import FormatJoke from "../../components/FormatJoke.astro";
import JokeThumbnail from "../../components/JokeThumbnail.astro";
import RudSense from "../../components/RudSense.astro";
import Layout from "../../layouts/Layout.astro";

const jokeid  = Astro.params.jokeid as string ;
 
const joke = await db.select({uid:jokes.uid,joke:jokes.joke,id:jokes.id}).from(jokes).where(eq(jokes.uid, jokeid)).limit(1);

const jokez =  await db.select({uid:jokes.uid,joke:jokes.joke,id:jokes.id,cat:jokes.cat}).from(jokes).where(lt(jokes.id, joke[0].id)).limit(30);
 
if (!joke[0]) {
  return new Response("Not Found", {
    status: 404,
    statusText: "Not Found",
  });
}
const meta = joke[0].joke.replaceAll("\n", " ");
---

<Layout
  title={meta.substring(0, 60)}
  description={meta}
  image={`https://kloun.lol/api/joke/og/?idx=${jokeid}`}
>
  <div class="my-10 flex w-full flex-col text-center">
    <article
      class="mx-auto mb-6 px-10 text-xl leading-relaxed xs:px-2 sm:px-4 lg:w-2/3"
    >
      <FormatJoke joke={joke[0].joke} />
    </article>
    <div class="flex justify-end items-center">
      <FacebookShare url={`https://kloun.lol/joke/${jokeid}`} />
    </div>
  </div>
  
      <div class="flex flex-wrap">
        <RudSense type="inarticle" />
        {jokez.map((joke) => (
          <JokeThumbnail item={joke} showcats={false} short />
        ))}
      </div>
   
</Layout>
