---
export const prerender = false;

import { chunk } from "lodash";
import {  sql } from "../../../data/hasura";
import FacebookShare from "../../components/FacebookShare.astro";
import FormatJoke from "../../components/FormatJoke.astro";
import JokeThumbnail from "../../components/JokeThumbnail.astro";
import RudSense from "../../components/RudSense.astro";
import Layout from "../../layouts/Layout.astro";
 

const { jokeid } = Astro.params;
 
 
 const resp = await sql`select uid,joke from jokes where uid = ${jokeid} limit 1`;
 
 

const  joke  = resp[0];
const jokes = resp.filter((x:{uid:string}) => x.uid !== jokeid)
const chunks = chunk(jokes, 3);

if (!joke) {
  return new Response("Not Found", {
    status: 404,
    statusText: "Not Found",
  });
}
const meta = joke.joke.replaceAll('\n',' ')
---

<Layout
  title={meta.substring(0,60)}
  description={meta}
  image={`https://kloun.lol/api/joke/og/?idx=${jokeid}`}
>
  <div class="my-10 flex w-full flex-col text-center">
    <article
      class="mx-auto mb-6 px-10 text-xl leading-relaxed xs:px-2 sm:px-4 lg:w-2/3"
    >
      <FormatJoke joke={joke.joke} />
    </article>
    <div class="flex justify-end items-center">
      <FacebookShare url={`https://kloun.lol/joke/${jokeid}`} />
    </div>
  </div>
  {
    chunks.map((piece) => (
      <div class="flex flex-wrap">
        <RudSense type="inarticle" />
        {piece.map((joke: { joke: string; cat: string; _id: string }) => (
          <JokeThumbnail item={joke} showcats={false} short />
        ))}
      </div>
    ))
  }
</Layout>
