---

import {  sql } from "../../data/hasura";
import CardNews from "../components/CardNews.astro";
import CatButton from "../components/CatButton.astro";
import RudSense from "../components/RudSense.astro";
import { jokecats } from "../components/utils/data/jokecats.js";
import Layout from "../layouts/Layout.astro";
 
//const sql = neon(import.meta.env.DB_URL1 || process.env.DB_URL1);
 const newsxx = await sql`select title,image,nid,date,id  from newsbg where cat='NewsBG' order by id desc limit 30;`;
 

const memesx = fetch(
  `https://pr0gramm.com/api/items/get?flags=1&promoted=1&cache=7200`
).then((res) => res.json());

const resp = await Promise.all([newsxx, memesx]).then((results) => ({
  memes: results[1].items,
  news: results[0],
}));
 

 
const { news, memes } = resp;
 
---

<Layout
  title="Клоунада? Вземете дневната си доза смях и новини в kloun.lol!"
  description="Вицове и забавни котки и мемета"
>
 
 <div class=" flex flex-col  md:flex-row  justify-between">
     <div class="flex-shrink-0 w-full md:w-auto md:order-1 flex justify-center">
       <img src="/images/spaceclown.svg" alt="Space Clown" class="block h-32 md:h-48 lg:h-64 object-cover rounded-md shadow-sm" />
     </div>
     <div class="ml-4 sm:ml-8 md:mr-8 lg:mr-12 xl:mr-24">
      
  <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none bg-clip-text text-transparent bg-gradient-to-r from-white to-gray-500">
    Клоунада? Вземете дневната си доза смях и новини в kloun.lol!
  </h1>
  <p class="md:text-xl dark:text-zinc-100 mx-auto bg-clip-text text-transparent bg-gradient-to-b from-white to-gray-500">
    Нашите авангардни AI алгоритми претърсват мрежата за най-смешните мемета, видеоклипове и статии, като същевременно ви държат в крак с най-новите новини. От политиката до поп културата, нашият екип от експерти комедианти и журналисти гарантира, че никога няма да пропуснете нито един момент. Така че вземете малко захарен памук, сложете червения си нос и се пригответе за LOL с нас!
  </p>
     </div>
   </div>
    
 
 
  <h1 class="text-3xl font-black">Актуално</h1>
  <RudSense />
  <div class="flex flex-wrap gap-3">
    {
      news.map(
        ({
          nid,
          title,
          date,
          
          image,
          id
        }: {
          nid: string;
          title: string;
          date: string;
 
          image: string;
          id:number;
        }) => (
          <CardNews title={title} img={image} date={date} key={nid} nid={nid} id={id} />
        )
      )
    }
  </div>
  <div class="flex flex-wrap justify-end my-2">
    <a class="btn dark:btn-ghost border-2" href="/news">Още новини</a>
  </div>
  <RudSense />
  <h1 class="text-3xl font-black">Вицове</h1>
  <div class="my-3 flex w-full flex-wrap gap-3">
    {
      jokecats
        .slice(0, 9)
        .map(
          ({
            cat,
            slug,
            count,
          }: {
            cat: string;
            slug: string;
            count: number;
          }) => <CatButton title={cat} url={"/cat/" + slug} count={count} />
        )
    }
  </div>
  <div class="flex flex-wrap justify-end my-2">
    <a class="btn dark:btn-ghost border-2" href="/vicove">Всички</a>
  </div>
  <RudSense main={true} />
  <h1 class="text-3xl font-black">Забавно в картинки</h1>
  <div class="snap-x flex flex-nowrap py-2 snap-proximity overflow-x-auto">
    {
      memes.slice(0, 20).map(({ thumb }: { thumb: string }) => (
        <label
          class="hover:animate-pulse snap-center flex-shrink-0"
          for="my-modal"
        >
          <div class="rounded-lg bg-gradient-to-r from-purple-900 to-pink-600 p-1 dark:from-white dark:to-slate-400 m-1 cursor-pointer flex">
            <img
              width="128"
              height="128"
              class="rounded-lg i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout"
              alt="pr0gramm"
              src={`https://thumb.pr0gramm.com/${thumb}`}
              i-amphtml-layout="fixed"
              style="width: 128px; height: 128px; --loader-delay-offset:1ms !important;"
            />
          </div>
        </label>
      ))
    }
  </div>
  <div class="flex flex-wrap justify-end my-2">
    <a class="btn dark:btn-ghost border-2" href="/memes">Всички</a>
  </div>
</Layout>
