---
export const prerender = false;

import client, { gql } from "../../../data/hasura";
import CardNews from "../../components/CardNews.astro";
import Pagination from "../../components/Pagination.astro";
import Layout from "../../layouts/Layout.astro";
const { newspage } = Astro.params as { newspage: string };

const pagenum = newspage ? Number(newspage) : 1;

const skip = pagenum * 30 - 30;
const resp = await client.query({
  query: gql`
    query MyQuery($offset: Int = 0) {
      newsbg(
        where: { cat: { _eq: "NewsBG" } }
        limit: 30
        order_by: { id: desc }
        offset: $offset
      ) {
        image
        link
        title
        nid
        date
      }
      aggregator(where: { cat_with_suffix: { _eq: "NewsBG_newsbg" } }) {
        total_count
      }
    }
  `,
  variables: {
    offset: skip,
  },
});
console.log(resp);
---

<Layout
  title={`Новини от на страница ${pagenum}`}
  description={`Новини  `}
  hideFooter={true}
>
  <div class="flex flex-wrap gap-3">
    {
      resp.data.newsbg.map(
        ({
          nid,
          title,
          date,
          key,
          image,
          id,
        }: {
          nid: string;
          title: string;
          date: string;
          key: string;
          image: string;
          id: number;
        }) => (
          <CardNews
            title={title}
            img={image}
            date={date}
            key={key}
            nid={nid}
            id={id}
          />
        )
      )
    }
  </div>
  <Pagination
    items={resp.data.aggregator[0].total_count}
    currentPage={pagenum}
    pageSize={30}
    prefix="/news/"
  />
</Layout>
